* {
    margin: 0;
    padding: 0;
}

.grid-contenedor {
    width: 100%;
    height: 100%;
    color: black;
    background-color: #FECD70;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.encabezado {
    background-color: #FFAE6D;
    grid-area: header;
}

.contenido {
    background-color: #FECD70;
    grid-area: main;
}

.pie {
    background-color: black;
    grid-area: footer;
}
